<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form method="POST" action="/new">
        <input name="messageText" type="text" placeholder="Message">
        <input name="user" type="text" placeholder="User">
        <button type="submit">Send</button> 
    </form>
</body>
</html>