<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>"<%= message.text %>"</h1>
    <h2>Sent by: <%= message.user %></h2>
    <h3>At <%= message.added.toLocaleString() %></h3>
    <a href="/">Go back</a>
</body>
</html>